:root {
  --brand-primary: #FF6D2B;
  --brand-secondary: #3942A3;
  --brand-alt: #FFF06B;
  --brand-alt-b: #D8E9E7;
  --button-bg-blue: #2B317A;
  --bgColor: #781d12;
  --bgHilight: #ff462d;
  --dark-text: #121212;
}

body {
  background-color: #1e2e3f;
  // color: #fff;
}

* {
  transition: all .2s ease;
}

#Live {
  margin-top: 5vh;
}
.share {
  padding-top: 2rem;
}
.text-bg1 {
  padding: 1rem 2rem 0 0;
  // margin: 2rem 0;
  color: white;
  --shadow-color: #000;
  span {
      line-height: 1.3;
      // padding: 4px 0;
      box-shadow: -20px 0px 0 2px var(--shadow-color), 20px 0px 0 2px var(--shadow-color), 0 0 0 2px var(--shadow-color);
      box-decoration-break: clone;
      background-color: var(--shadow-color);
  }
  .quote {
      background-color: #000;
  }
  .attrib {
      background-color:var(--primary-color);
      --shadow-color: var(--primary-color);
      color: black;
      font-style: italic;
      margin-left: 10px;
  }
  
}

// .audio-player {
  // margin: auto;
  // width: 80%;
  // @include mq(tablet) {
  //     width: 80%;

  // }
  // @include mq(desktop) {
  //     width: 60%;

  // }
// }
p {
  line-height: 1.4;
  font-weight: 300;
}
p a {
  text-decoration: underline;
  font-weight: 300;
  font-size: 1em;
}
h1, h2, h3, h4 {
  line-height: 1.2;
  // font-size: 36/16 + rem;
  // text-decoration: underline;
  // text-transform: uppercase;
  font-family: "Display Sans", serif;
  
  
  span {
    font-weight: 300;
    font-family: "Display Sans", serif;
  }
  @include mq(tablet) {
    font-size: 64/16 + rem;
  }
}

h1 {
  font-weight: 300;
  font-size: 52/16 + rem;
}

h2 {
  font-weight: 300;
  font-size: 36/16 + rem;
}

h3 {
  font-size: 28/16 + rem;
  font-weight: 300;
}

h4 {
  font-size: 20/16 + rem;
  font-weight: 300;
}

q {
  font-size: 1.4rem;
  padding: 0.5rem 0;
  display: block;
  &::before, &::after {
    content: '';
  }
  span {
    display: block;
    padding: 0.8rem 0 0.5rem;
  }
}

p {
  margin-top: 1rem;
  &:first-child {
    // margin-top: 0;
  }
}

.d-flex {
  display: flex;
  &.d-center {
      justify-content: center;
      align-items: center;
  }
}

.loading {
  height: 100vh;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

#Glabs {
  // background-color: #B9B9B9;
  background-color:transparent;
  color: white;
  font-family: "Guardian Egyptian Web", "sans-serif";
  font-weight: 300;
}

.scroll-icon {
  text-align: center;
  margin: 2rem 0 0;
  fill: white;
  stroke: white;
}

// @import 'components/header';
@import 'components/standfirst';
@import 'components/cardgrid';


#Glabs section {
  padding: 2rem 0;
  
}
.content {
  color: white;
}

section.footer {
  // background-color: $stand-first-color;

  .disc p {
    font-size: 10/16 + rem;
    font-style: italic;
    line-height: 1.5;
  }

  .content {
    // margin: auto;
    // max-width: 60rem;
    @include mq($until: desktop ) {
      // padding-top: 1rem;

    }
  }
  // .cta-wrap {
  //   margin: auto;
  //   max-width: 40rem;
  // }
  .cta {
      p {
      
      font-size: 18/16 * 100%;
    }
    a {
      text-decoration: underline;
    }
  }
}

.about-content {
  margin-top: 1rem;
  a {
    font-size: .8em;
    color: currentColor;
    text-decoration: underline;
  }
}

  #ShareMe {
    ul li {
      display: inline;
    }
    // li:nth-child(3) a {
    //   background-color: #767676 !important;
    //   svg {
    //     stroke: white;
        
    //   }
    // }

  }

  .share {
    a {
      box-sizing: content-box !important;
      display: flex !important;
      svg {
        width: 24px;
        height: 24px;
        // padding: 2px;
      }
    }
  }

  .related {
    width: 100%;    
    // background: #EDF5F4;
    >div {
      // max-width: 50rem;
    }
  }
  .ClientDetails {
    position: absolute;
    top: 0;
    right: 0;
    border-top: 1px dotted #dcdcdc;
    border-bottom: 1px dotted #dcdcdc;
    padding: 5px 0 15px;
    width: 15%
  }
  .Title-Container h1 {
    font-family: "Guardian Headline Full";
    font-weight: 100;
  }

  @include mq($until: tablet) {
    #Glabs #Footer .InnerFooter .PartnerZoneLinks {
    flex-basis: 100%;
    }
  }



  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .boxed-container {
    width: 90%;
    @include mq(tablet) {
    }
    @include mq(desktop) {
      max-width: 84rem;
    }
  }
#Glabs {
  position: relative;
  // background: var(--bgColor);
  color: white;
  // background: linear-gradient(219deg, #d31b39 19%, #284061 100%);
  // background: linear-gradient(219deg, #d31b39, #284061);
  // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
.btn {
  padding: 0.6rem 1.5rem;
  border-radius: 12px;
  &.primary {
    background-color: var(--bgHilight);
  }
}

.btn-start {
  padding: 1rem;
  border-radius: 27px;  
  background-color: #4CDD84;
  margin: 3rem 0;
  display: inline-block;
  .icon {
    margin-left: 5rem;
  }
}
.btn-back {
  background: var(--bgHilight);
  border-radius: 25px;  
}
.prompt {
  display: flex;
  align-items: center;
  svg {
    margin-right: 1rem;
  }
}

.animated-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  mix-blend-mode: difference;
}
.strap {
  font-size: 1.5rem;
  font-family: "Display Sans", serif;
  border: 2px solid white;
  display: inline-block;
  padding: .5rem 1.5rem;
  margin-top: 0.5rem;
  border-radius: 35px;
  &+h1 {
    margin-top: .5rem;
  }
}
.landing {
  position: relative;
  overflow: hidden;
  .body {
    margin: auto;
    max-width: 34rem;
  }
  .chart-wrap {
    position: relative;
  }
  #chart {
    height: 60vh;
  }
  .rad {
    width: 100%;
    height: 100%;
    background: url("<%= path %>/radial.svg") no-repeat 50%/contain;
    svg {
      display: inline-block;
      margin: auto;
      max-width: 100%;
    }
  }
}
.landing-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  object-fit: cover;
  mix-blend-mode: color-dodge;  
}
.chart-container {
  
  #chart {
    height: 70vh;
    background: url("<%= path %>/radial.png") no-repeat 50%/cover;

    @include mq(desktop) {
      background-size: contain;      
    }
  }
  
}

.o-zero {
  opacity: 0;
}
.attribution-horizontal {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0;
  column-gap: 0.6rem;
  position: absolute;
  bottom: -4rem;
  right: 0;
  .logo  {
    width: 100px;
  }
}
.dash {
  #chart {
    height: 40vh;
  }
  // padding-top: 0 !important;
  // margin-top: -1rem;  

}
.top-bar {
  padding-top: 3rem;
  text-align: center;
  position: relative;
  &.view-home {
    padding-top: 5rem;
  }
  nav {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .icon-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 2rem;
    pointer-events: none;
  }
  .line {
    height: 1px;
    background: #D8D8D8;
    margin: 1rem 0;
  }
}
.pillbox {
    background-color: var(--pillboxBg, #E6F2F1EE);
    border-radius: 25px;
    padding: 1rem;
    margin: 1rem 0;
    color: var(--dark-text, black);
}
  #chart {
    height: 40vh;
  }

  .audio-desc {
    display: flex;
    justify-content: space-between;
    img {
      border-radius: 22px;
      margin-left: 1rem;
      width: 100px;
      height: 100px;
    }
  }
  
  .mgrid {
    display: grid;
    max-width: 90rem;
    margin: auto;
    @include mq(desktop) {
      grid-template-columns: repeat(3, 1fr);

    }

    >.col {
      padding: 0.5rem;
      @include mq(tablet) {
        padding: .5rem;
      }
    }
    .title {
      position: relative;
      display: flex;
      justify-content: center;
      @keyframes rotateIt {
        50% {transform: rotate(180deg);}
        100% {transform: rotate(359deg);}
      }
      svg {
        stroke: var(--bgHilight);
        fill: none;
        animation: rotateIt infinite 20s linear reverse;
        max-width: 100%;
      }

      .abs {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        h2 {
          max-width: 284px;
          text-align: center;
        }
      }
    }
  }

  .poll {
    form {
      input {
        width: 0;
        opacity: 0;
        height: 0;
      }
      input + label {
        background-color: var(--bgHilight);
        display: block;
        width: 100%;
        padding: 1.5rem 1rem;
        text-align: center;
        cursor: pointer;
        color: #3D3C3C;
        border-radius: 20px;
        font-size: 18/16 + rem;
        transition: transform 200ms ease-out;
        margin: 1rem 0;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
  .bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;

    .bar {
      width: 80%;
      display: flex;
      justify-content: left;
      align-items: center;
      margin-right: 1rem;

      .value {
        display: flex;
        justify-content: center;
        // color: white;
        padding-left: 0.5rem;
      }
    }
    .option-bar {
      // border: 1px solid;
      width: 1%;
      height: 2rem;
      transform-origin: 0;
      // transform: scaleX(0.005);
      background-color: var(--bgHilight);
      transition: all 0.3s ease, width 1s ease-in-out;
      // margin: .5rem 0.5rem 0 0;
      color: white;
      border-radius: 0 10px 10px 0;
      display: flex;
      justify-content: center;
    }
    p {
      margin-top: 0;
      text-align: right;
    }

  }

  .tweet-item {
    display: flex;
    padding: 0;
    margin: 0;
    border: none;
    img {
      border-radius: 60px;
      width: 50px;
      height: 100%;
    }
    .handle {
      color: var(--bgHilight);
      font-weight: 500;
    }
    p {
      margin: 0 0 0 1rem;
    }
  }

  .tweet-list {
    .btn-prev, .btn-next {
      float: right;
      // margin-right: 1rem;
    }
    .btn-prev {
      margin-top: -1.8rem;
      margin-bottom: 1rem;
    }
    .btn-next {
      svg {
        transform: rotate(180deg);
      }
    }
    .tweetbox {
      // opacity: 0;
      height: auto;
      transition: height 0.3s ease;
      transform-origin: 50% 0;
      overflow: hidden;
      // margin-bottom: 1rem;
      .pillbox {
        margin-top: 0;
      }
      &.entering {
        padding: 0;
        margin: 0;
      }
    }
  }
  .clear-float {
    clear: both;
  }
  .related-items {
    margin-top: 2rem;
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    grid-gap: 10px;
    @include mq(desktop) {
      grid-template-columns: 1fr 1fr;
    }
    .related-item {
      // width: 50%;
      .img {
        margin-bottom: 1rem;
        height: 230/16 + rem;
        background-size: cover;
        background-position: 50%;
      }
      a {
        height: 100%;
        display: block;
        padding: 1rem;
        background: white;
        align-items: center;
        transition: border 200ms ease;
        // transform: rotateZ(0.01deg);
        border: 0px solid currentColor;
        &:hover {
          border-left: 6px solid currentColor;
        }
      }
    }
  }

.break {
  // margin-top: 2rem;
  span {
    display: block;
    margin: 2px;
    height: 1px;
    background: #ffffff7d;
  }
}

.intro-body {
  position: relative;
   @include mq(tablet) {
     padding-right: 25%;
   }
}

.attribution {

  // border-top: 1px dotted #dcdcdc;
  // border-bottom: 1px dotted #dcdcdc;
  padding: 1rem 0;
  margin: 1rem 0;
  p {
    margin-top: 0;
  }
  @include mq(tablet) {

    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 0 15px;
    width: 15%;
    margin-top: 0;
  }
}